* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
.container {
  height: 100vh;
}

.container {
  background: linear-gradient(
    to right,
    rgba(75, 117, 196, 0.966) 0%,
    rgb(149, 159, 189) 100%
  );
  margin: 0 auto;
  width: 70%;
  height: 250px;
  margin-top: 400px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-right: 10px;
}

.container h3 {
  margin: 3px;
  padding: 2px;
}
.subject {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
p {
  margin-top: 4px;
}
.container img {
  margin: 5px;
  border: 1px solid black;
  border-radius: 25px;
}
.description {
  align-items: center;
  text-align: justify;
}
.comment-box1 {
  background: white;
  border: 2px solid black;
  display: flex;
}
.comment-box2 {
  background: white;
  display: flex;
  border: 2px solid black;
}
.comment-box1 img {
  border: 1px solid black;
  border-radius: 100px;
}
.cd1,
.cd2 {
  margin: 5px;
}
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
.container {
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
}

.header {
  flex: 1;
  text-align: center;
  border-bottom: 1px solid black;
}

.row {
  flex: 9;
  display: flex;
}
.nav {
  text-align: center;
  flex: 1;
  border-right: 1px solid black;
}
.main {
  flex: 6;

  text-align: center;
  border-right: 1px solid black;
}
.aside {
  text-align: center;
  flex: 1;
}
.footer {
  flex: 1;
  text-align: center;
  border-top: 1px solid black;
}

.header,
.footer,
.row .nav,
.row .main,
.row .aside {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row .nav,
.row .main,
.row .aside {
  padding-top: 5px;
  align-items: flex-start;
} */
